.image{
    height:200px;
    width: 200px; 
    border-radius: 30px;
    border: 5px solid black;
    margin: 20px;  
}
.container-row{
    height: 300px;
    display:flex;
    background-color: aquamarine;
    border-radius: 10px;
}
.container-colum{
    height: 1400px;
    width: 300px;
    background-color: rgb(146, 156, 153);
    border-radius: 10px;
}